.places__core {
  display: flex;
}

@media screen and (min-width: 300px) {
  .places__core {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) {
  .places__core {
    flex-direction: row;
    column-gap: 38px;
    align-items: flex-end;
  }
}

@media screen and (min-width: 770px) {
  .places__core {
    flex-direction: row;
    column-gap: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .places__core {
    flex-direction: row;
    column-gap: 40px;
  }
}
