.places__image {
  align-self: center;
}

@media screen and (min-width: 300px) {
  .places__image {
    width: 100vw;
    height: 100vw;
    max-width: 320px;
    max-height: 320px;
    margin: 32px 0;
  }
}

@media screen and (min-width: 576px) {
  .places__image {
    max-width: 340px;
    max-height: 340px;
    align-self: flex-start;
    margin: 0;
  }
}

@media screen and (min-width: 576px) {
  .places__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (min-width: 576px) {
  .places__image {
    max-width: 460px;
    max-height: 460px;
  }
}