.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  padding: 28px 0 0;
}

@media screen and (min-width: 300px) {
  .header {
    max-width: calc(100vw * .9);
    max-height: 42px;
  }
}

@media screen and (min-width: 576px) {
  .header {
    max-width: calc(100vw * .9375);
    max-height: 52px;
  }
}

@media screen and (min-width: 770px) {
  .header {
    max-width: calc(100vw * .9);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    max-width: calc(100vw * .925);
    max-width: 1184px;
  }
}

