.cover {
  margin: 0 auto;
}

@media screen and (min-width: 300px) {
  .cover {
    max-width: 100vw;
    min-height: calc(100vw * .625);
  }
}

@media screen and (min-width: 1200px) {
  .cover {
    min-height: 740px;
    max-width: 1184px;
  }
}
