.places__item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .places__item {
    row-gap: 26px;
  }
}

@media screen and (min-width: 770px) {
  .places__item {
    row-gap: 48px;
  }
}







